<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="mlDieselWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />                
  </configSections>
  <appSettings>
    <add key="Tiempo" value="15"/>    
    <add key="EmailInformatica" value="it@mexlog.com" />
    <add key="PassEmailInformatica" value="ICA06VAIT21" />
    <add key="EmailDestino" value="jesus.soto@branix.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <mlDieselWS.Properties.Settings>
      <setting name="mlDieselWS_EnergexService_SP4GLwsService" serializeAs="String">
        <value>http://201.159.140.77:8080/SP4GL/services/SP4GLws</value>
      </setting>
    </mlDieselWS.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <!--<add name="CombustibleEntities" connectionString="metadata=res://*/DAL.Modelo.csdl|res://*/DAL.Modelo.ssdl|res://*/DAL.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.115;initial catalog=Combustible;persist security info=True;user id=sa;password=MexLog10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CombustibleEntities" connectionString="metadata=res://*/DAL.Modelo.csdl|res://*/DAL.Modelo.ssdl|res://*/DAL.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.178;initial catalog=Combustible;persist security info=True;user id=toluca_u; password=T0luc@T;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITicketCarFacadeServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="36700160" maxBufferSize="7690000" maxReceivedMessageSize="7690000"
         textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="32768" maxBytesPerRead="8192" maxNameTableCharCount="32768"/>
        </binding>
        <binding name="BasicHttpsBinding_ITicketCarFacadeServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="36700160" maxBufferSize="7690000" maxReceivedMessageSize="7690000"
         textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="32768" maxBytesPerRead="8192" maxNameTableCharCount="32768"/>

          <security mode="TransportWithMessageCredential" >
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketCarFacadeServices"
        contract="TicketCardService.ITicketCarFacadeServices" name="BasicHttpBinding_ITicketCarFacadeServices" />
      <endpoint address="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITicketCarFacadeServices"
        contract="TicketCardService.ITicketCarFacadeServices" name="BasicHttpsBinding_ITicketCarFacadeServices" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>